<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>SUUpdateRelaunchingMarker</key>
        <string>false</string>
        <key>alignThumbnails</key>
        <string>1</string>
        <key>appsToShow</key>
        <string>0</string>
        <key>appearanceStyle</key>
        <string>1</string>
        <key>blacklist</key>
        <string>_BLACKLIST_</string>
        <key>crashPolicy</key>
        <string>1</string>
        <key>cursorFollowFocusEnabled</key>
        <string>false</string>
        <key>fadeOutAnimation</key>
        <string>false</string>
        <key>hideAppBadges</key>
        <string>false</string>
        <key>hideColoredCircles</key>
        <string>true</string>
        <key>hideShowAppShortcut</key>
        <string>H</string>
        <key>hideStatusIcons</key>
        <string>false</string>
        <key>hideThumbnails</key>
        <string>false</string>
        <key>hideWindowlessApps</key>
        <string>false</string>
        <key>holdShortcut</key>
        <string>⌥</string>
        <key>maxHeightOnScreen</key>
        <string>64</string>
        <key>maxWidthOnScreen</key>
        <string>64</string>
        <key>nextWindowShortcut</key>
        <string>⇥</string>
        <key>nextWindowShortcut2</key>
        <string></string>
        <key>preferencesVersion</key>
        <string>6.61.0</string>
        <key>previousWindowShortcut</key>
        <string>⇧</string>
        <key>quitAppShortcut</key>
        <string>Q</string>
        <key>rowsCount</key>
        <string>4</string>
        <key>showFullscreenWindows</key>
        <string>0</string>
        <key>showMinimizedWindows</key>
        <string>0</string>
        <key>showOnScreen</key>
        <string>2</string>
        <key>showTabsAsWindows</key>
        <string>false</string>
        <key>spacesToShow</key>
        <string>0</string>
        <key>theme</key>
        <string>0</string>
        <key>updatePolicy</key>
        <string>1</string>
        <key>windowDisplayDelay</key>
        <string>0</string>
        <key>windowMaxWidthInRow</key>
        <string>20</string>
        <key>windowMinWidthInRow</key>
        <string>20</string>
    </dict>
</plist>
