*.iml
.idea
.gitconfig
pkg
test/homedir/Library/**/keymaps/*
test/homedir/Library/Preferences/*.plist
test/homedir/.config/karabiner/karabiner-*.json
test/homedir/.config/karabiner/assets/complex_modifications/*.json
test/homedir/.fleet/**
!test/homedir/.config/karabiner/karabiner.json
!test/homedir/.config/karabiner/karabiner-default.json
!.gitkeep
custom-params.yml
