*.iml
.idea
.gitconfig
pkg
test/homedir/Library/**
test/homedir/.config/**
test/homedir/.fleet/**
!test/homedir/.config/karabiner/karabiner.json
!test/homedir/.config/karabiner/karabiner-default.json
!.gitkeep
custom-params.yml
