<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allowAnyShortcut</key>
	<true/>
	<key>almostMaximize</key>
	<dict>
		<key>keyCode</key>
		<integer>125</integer>
		<key>modifierFlags</key>
		<integer>1048576</integer>
	</dict>
	<key>almostMaximizeHeight</key>
	<real>0.0</real>
	<key>almostMaximizeWidth</key>
	<real>0.0</real>
	<key>altThirdCycle</key>
	<integer>0</integer>
	<key>alternateDefaultShortcuts</key>
	<true/>
	<key>alwaysAccountForStage</key>
	<integer>0</integer>
	<key>applyGapsToMaximize</key>
	<integer>0</integer>
	<key>applyGapsToMaximizeHeight</key>
	<integer>0</integer>
	<key>attemptMatchOnNextPrevDisplay</key>
	<integer>0</integer>
	<key>autoMaximize</key>
	<integer>0</integer>
	<key>bottomHalf</key>
	<dict/>
	<key>bottomLeft</key>
	<dict/>
	<key>bottomRight</key>
	<dict/>
	<key>cascadeAllDeltaSize</key>
	<real>30</real>
	<key>center</key>
	<dict/>
	<key>centerHalfCycles</key>
	<integer>0</integer>
	<key>centerThird</key>
	<dict/>
	<key>centeredDirectionalMove</key>
	<integer>0</integer>
	<key>cornerSnapAreaSize</key>
	<real>20</real>
	<key>curtainChangeSize</key>
	<integer>0</integer>
	<key>disabledApps</key>
	<string>[]</string>
	<key>doubleClickTitleBar</key>
	<integer>0</integer>
	<key>doubleClickTitleBarRestore</key>
	<integer>0</integer>
	<key>dragFromStage</key>
	<integer>0</integer>
	<key>firstThird</key>
	<dict/>
	<key>firstTwoThirds</key>
	<dict/>
	<key>footprintAlpha</key>
	<real>0.30000001192092896</real>
	<key>footprintAnimationDurationMultiplier</key>
	<real>0.0</real>
	<key>footprintBorderWidth</key>
	<real>2</real>
	<key>footprintFade</key>
	<integer>0</integer>
	<key>gapSize</key>
	<real>0.0</real>
	<key>hideMenubarIcon</key>
	<false/>
	<key>ignoreDragSnapToo</key>
	<integer>0</integer>
	<key>ignoredSnapAreas</key>
	<integer>0</integer>
	<key>larger</key>
	<dict/>
	<key>lastThird</key>
	<dict/>
	<key>lastTwoThirds</key>
	<dict/>
	<key>lastVersion</key>
	<string>76</string>
	<key>launchOnLogin</key>
	<true/>
	<key>leftHalf</key>
	<dict>
		<key>keyCode</key>
		<integer>123</integer>
		<key>modifierFlags</key>
		<integer>1048576</integer>
	</dict>
	<key>maximize</key>
	<dict>
		<key>keyCode</key>
		<integer>126</integer>
		<key>modifierFlags</key>
		<integer>1048576</integer>
	</dict>
	<key>maximizeHeight</key>
	<dict/>
	<key>minimumWindowHeight</key>
	<real>0.0</real>
	<key>minimumWindowWidth</key>
	<real>0.0</real>
	<key>missionControlDragging</key>
	<integer>0</integer>
	<key>missionControlDraggingAllowedOffscreenDistance</key>
	<real>25</real>
	<key>missionControlDraggingDisallowedDuration</key>
	<integer>250</integer>
	<key>moveCursor</key>
	<integer>0</integer>
	<key>moveCursorAcrossDisplays</key>
	<integer>2</integer>
	<key>nextDisplay</key>
	<dict/>
	<key>notifiedOfProblemApps</key>
	<false/>
	<key>obtainWindowOnClick</key>
	<integer>0</integer>
	<key>previousDisplay</key>
	<dict/>
	<key>reflowTodo</key>
	<dict>
		<key>keyCode</key>
		<integer>45</integer>
		<key>modifierFlags</key>
		<integer>786432</integer>
	</dict>
	<key>relaunchOpensMenu</key>
	<false/>
	<key>resizeOnDirectionalMove</key>
	<false/>
	<key>restore</key>
	<dict/>
	<key>rightHalf</key>
	<dict>
		<key>keyCode</key>
		<integer>124</integer>
		<key>modifierFlags</key>
		<integer>1048576</integer>
	</dict>
	<key>screenEdgeGapBottom</key>
	<real>0.0</real>
	<key>screenEdgeGapLeft</key>
	<real>0.0</real>
	<key>screenEdgeGapRight</key>
	<real>0.0</real>
	<key>screenEdgeGapTop</key>
	<real>0.0</real>
	<key>screenEdgeGapsOnMainScreenOnly</key>
	<false/>
	<key>shortEdgeSnapAreaSize</key>
	<real>145</real>
	<key>showAllActionsInMenu</key>
	<integer>0</integer>
	<key>sixthsSnapArea</key>
	<integer>0</integer>
	<key>sizeOffset</key>
	<real>0.0</real>
	<key>smaller</key>
	<dict/>
	<key>snapEdgeMarginBottom</key>
	<real>5</real>
	<key>snapEdgeMarginLeft</key>
	<real>5</real>
	<key>snapEdgeMarginRight</key>
	<real>5</real>
	<key>snapEdgeMarginTop</key>
	<integer>10</integer>
	<key>snapModifiers</key>
	<integer>0</integer>
	<key>specifiedHeight</key>
	<real>1050</real>
	<key>specifiedWidth</key>
	<real>1680</real>
	<key>stageSize</key>
	<real>190</real>
	<key>subsequentExecutionMode</key>
	<integer>1</integer>
	<key>todo</key>
	<integer>0</integer>
	<key>todoMode</key>
	<false/>
	<key>todoSidebarWidth</key>
	<real>400</real>
	<key>toggleTodo</key>
	<dict>
		<key>keyCode</key>
		<integer>11</integer>
		<key>modifierFlags</key>
		<integer>786432</integer>
	</dict>
	<key>topHalf</key>
	<dict/>
	<key>topLeft</key>
	<dict/>
	<key>topRight</key>
	<dict/>
	<key>traverseSingleScreen</key>
	<integer>0</integer>
	<key>unsnapRestore</key>
	<integer>0</integer>
	<key>windowSnapping</key>
	<integer>1</integer>
</dict>
</plist>
