<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>com.github.pcfy.plist</string>
        <key>ProgramArguments</key>
        <array>
            <string>/usr/bin/hidutil</string>
            <string>property</string>
            <string>--set</string>
            <string>'{"UserKeyMapping":[
                {
                "HIDKeyboardModifierMappingSrc": 0x7000000E0,
                "HIDKeyboardModifierMappingDst": 0x7000000E3
                },
                {
                "HIDKeyboardModifierMappingSrc": 0x7000000E3,
                "HIDKeyboardModifierMappingDst": 0x7000000E0
                },
                {
                "HIDKeyboardModifierMappingSrc": 0x7000000E4,
                "HIDKeyboardModifierMappingDst": 0x7000000E7
                },
                {
                "HIDKeyboardModifierMappingSrc": 0x7000000E7,
                "HIDKeyboardModifierMappingDst": 0x7000000E4
                }
                ]}'</string>
        </array>
        <key>RunAtLoad</key>
        <true/>
    </dict>
</plist>